<tr>
    <td class="bottomleft"></td>
    <td align="center">
        <hr style="width:100%; height:2px;" />
        <span class="footer">
            {{ org.name }} | {{ org.address }} | {{ org.city }}, {{ org.state.abbv }} {{org.zip.main }}<br />
            {{#each org.phone}}
                Tel: {{this}} | 
            {{/each}}
            Email: <a href="mailto:{{ org.email }}">{{ org.email }}</a>
        </span>
    </td>
</tr>
<tr>
    <td class="bottomleft"></td>
    <td align="center">
    <div class="tiny"><a href="{{ org.site }}/sitemap.html">Sitemap</a></div>
    </td>
</tr>
