<section id="location">
    <div class="container">
        <div class="row flex-items-xs-middle">
            <div class="col-md-4">
                <h2>Location</h2>
                <p>The {{org.name}} is located in the Cornelia Arts Building at <a href="{{org.map.link}}">{{org.address}} ({{org.zip.main}})</a>.</p>
            </div>
            <div class="col-md-8">
                {{{org.map.embed}}}
            </div>
        </div>
    </div>
</section>
