<section class="section" id="whats-new">
    <div class="container">
        <h2>{{ title }}</h2>
        <div class="row">
            {{#each feature}}
                <div class="col-xs">
                    <h3>{{headline}}</h3>
                    {{#each description}}
                        <p>{{{this}}}</p>
                    {{/each}}
                    {{#if cta}}
                        <a href="{{cta.link}}" class="{{cta.class}}">{{{cta.text}}}</a>
                    {{/if}}
                </div>
            {{/each}}
        </div>
    </div>
</section>
